html, body {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.theme-light {
    --bg-color: #fff;
    --font-color: #424242;
}

.theme-dark {
    --bg-color: #1f1f1f;
    --font-color: #eeeeee;
}

.theme-light-font {
    --color-logo-primary: #737373;
    --color-logo-secondary: #00476d;
}

.theme-dark-font {
    --color-logo-primary: #eeeeee;
    --color-logo-secondary: #058bd2;
}

.theme-dark input {
    background-color: #efefef;
}

#generated-logo {
    color: var(--color-logo-primary);
    background-color: var(--bg-color);
}

body, #generated-logo {
    transition: background-color 100ms ease-in-out, color 150ms ease-in-out;

}

#transparent-details {
    display: none;
}

.tags {
    font-weight: 700;
    font-size: .85rem;
    margin-top: -20px;
    margin-right: 52px;
    color: var(--color-logo-secondary)
}

.logo-left {
    margin-right: -32px;
}

.logo {
    height: 70px;
}

.logo-center {
    margin: 0 3px;
}

.logo-right {
    margin-left: -32px;
}

.mtg, .communityName {
    font-size: 44px;
    margin-top: -10px;
}

.form-label {
    margin-bottom: 0.5rem;
}

input[type="text"] {
    padding: .75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color .15s ease-in-out
}

.flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}


.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.p-1 {
    padding: 1rem;
}

.fs-2 {
    font-size: 2rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.fw-700 {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
}