html, body {
    margin: 0;
    padding: 0;
    color: #424242;
}

body {
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.tags {
    color: #00476d;
    font-weight: 300;
    font-size: .85rem;
    margin-top: -3px;
}

.logo-left {
    margin-right: -32px;
}

.logo {
    height: 70px;
}

.logo-center {
    margin: 0 3px;
}

.logo-right {
    margin-left: -32px;
}

.mtg, .communityName {
    color: #737373;
    font-size: 44px;
    font-weight: 500;
    margin-top: -8px;
}

input[type="text"] {
    padding: .4em;
}

.flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}


.justify-content-center {
    justify-content: center;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}

.mt-2 {
    margin-top: 2em;
}

.mb-2 {
    margin-bottom: 2em;
}

.text-center {
    text-align: center;
}
